/*Change color on hover*/

/*button:hover {*/
/*    color: blue;*/
/*}*/



/*Style input when focused*/
/*input:focus {*/
/*    color: red;*/
/*}*/


/* Add content before an element */
/* li::before{
    content: "🔥";
    color: orange;
} */

/* Add content after an element */
/* li::after{
    content: "🚀";
} */








